@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    // --primary : #FF7272;
    // --lightGrey1 : #F6F7F8;
    // --lightGrey2 : #E9EBED;
    // --red : #FF0808;
    // --yellow : #FFB21E;
    // --green : #1ABC17;
    // --gra : linear-gradient(180deg, #FF6B63 0%, #FF50A4 100%);
    --newBlue : #258AFF;
    --newGrey : #EAEEF1;
    --lightGrey2 : #E9EBED;
    --newGrey3 : #9296A4;
    --red : #FF0808;
    --green : #1ABC17;
    --pink: #FF7272;

}

* {
    background-repeat: no-repeat !important;
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.015em;
    background: #F6F7F8;
}

h1 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 13px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
}

$topNavHeight : 60px;
$mainBtnHeight : 94px;

.serviceWrap {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #E9EBED;
    &:has(.topNav) {
        padding-top: $topNavHeight;
    }
    &.whiteBg {
        background-color: #fff;
    }
    &:has(.mainBtn) {
        padding-bottom: $mainBtnHeight;
        &:has(.guideTxt) {
            padding-bottom: 144px;
        }
    }
}


.topNav {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: $topNavHeight;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    .arr {
        width: 24px;
        height: 24px;
        background: url(../img/topNavArr.svg) center no-repeat;
    }
    .tit {
        font-size: 18px;
        font-weight: bold;
        flex: 1 0 auto;
        text-align: center
    }
    .rightBtn {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .setting {
        width: 24px;
        height: 24px;
        background:url(../img/topNavSetting.svg) center no-repeat;
    }
    .modeToggle {
        width: 24px;
        height: 24px;
        background: url(../img/topNavModeOff.svg) center no-repeat;
        font-size: 10px;
        font-weight: 700;
        color: #9296A4;
        position: relative;
        &::before {
            content: 'OFF';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        &.on {
            background-image: url(../img/topNavModeOn.svg);
            &::before {
                content: 'ON';
                color: #258AFF;
            }
        }
    }
    .close {
        width: 24px;
        height: 24px;
        background: url(../img/nav_top_close.svg) center/cover no-repeat;
        border: 0;
        padding: 0;
        cursor: pointer;
        position: absolute;
        &.right {
            right: 16px;
        }
    }
    .viewToggle {
        width: 24px;
        height: 24px;
        border: 0;
        padding: 0;
        cursor: pointer;
        position: absolute;
        background: url(../img/ic_viewPerson.svg) center/cover no-repeat;
        &.on {
            background: url(../img/ic_viewPuppy.svg) center/cover no-repeat;
        }
    }
}

.mainTop {
    padding: 20px 18px 37px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 10px;
    .topText {
        text-align: left;
        .subTit {
            color: var(--newGrey3);
            font-weight: 500;
        }
        .tit {
            font-size: 28px;
            font-weight: bold;
        }
    }
    .progress {
        margin-top: 52px;
        width: 100%;
        height: 14px;
        border-radius: 10px;
        background-color: var(--lightGrey2);
        .bar {
            background: linear-gradient(270deg, #258AFF 0%, rgba(37, 138, 255, 0.20) 100%);
            height: 100%;
            position: relative;
            border-radius: 10px;
        }
        .badge {
            position: absolute;
            bottom: calc(100% + 14px);
            right: 0;
            transform: translateX(50%);
            width: 48px;
            height: 48px;
            border-radius: 50%;
            filter: drop-shadow(-10px 8px 11px rgba(0, 0, 0, 0.15));
            background: url(../img/ic_progressBadgeOff.png) center/cover;

            &.on {
                background: url(../img/ic_progressBadgeOn.png) center/cover;
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: calc(100% + 2px);
                transform: translateX(-50%);
                width: 8px;
                height: 5.5px;
                border: 5.5px solid transparent;
                border-top: 5.5px solid #000;
                border-bottom: 0;
                box-sizing: border-box;
            }
        }
    }
    .mesg {
        display: inline-block;
        padding: 10px 20px;
        background: var(--newGrey);
        border-radius: 100px;
        color: #333;
        margin: 0 auto;
        margin-top: 22px;
        text-align: left;
        position: relative;
        &::before {
            content: '';
            width: 9px;
            height: 9px;
            background: var(--newGrey);
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: calc(100% - 4px);
            transform: rotate(45deg);
        }
    }

    .couponWrap {
        margin-top: 37px;
        display: flex;
        > div {
            flex: 1 0 0;
        }
        > div:first-child {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
        .coupon {
            font-weight: 500;
            color:#fff;
            background:url(../img/img_coupon.svg) left/contain;
            width: 146px;
            height: 94px;
            text-align: left;
            padding: 22px 13px 0;
            .label {
                margin-bottom: 15px;
            }
            .value {
                font-size: 20px;
            }
        }
        .point {
            text-align: left;
            margin-top: 30px;
            padding-left: 20px;
            .label {
                font-weight: 500;
                color: var(--newGrey3);
                margin-bottom: 6px;
            }
            .icon { 
                width: 33px;
                height: 33px;
                background: url(../img/ic_point.svg) center;
                display: inline-block;
                float: left;
            }
            .value {
                font-size: 22px;
                font-weight: bold;
                float: left;
                margin-top: 10px;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }

    .logoutCon {
        padding: 62px 18px 70px;
    }
    .emoj {
        font-size: 38px;
        margin-bottom: 16px;
    }
    .guideTxt {
        font-size: 18px;
        font-weight: bold;
    }
}

.mainBottom {
    padding: 32px 15px 70px;
    background-color: #fff;
    h3 {
        margin-bottom: 20px;
    }
    .missionCoupon {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 70px;
        & + .missionCoupon {
            margin-top: 4px;
        }
    }
    .missionIcon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        &.walk {
            background: url(../img/ic_missionWalk.svg);
        }
        &.share {
            background: url(../img/ic_missionShare.svg);
        }
    }
    .label {
        font-size: 18px;
        font-weight: bold;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }
    .sub {
        font-size: 13px;
        font-weight: 400;
        color: var(--newGrey3);
    }
    .btn {
        padding: 6px 10px;
        border-radius: 4px;
        color: #fff;
        background-color: var(--newBlue);
        width: 72px;
        text-align: center;
        box-sizing: border-box;
        &.black {
            background-color: #222528;
        }
        &.disabled {
            opacity: 0.4;
        }
    }

    .moneyPoint {
        padding: 24px;
        border-radius: 8px;
        background: url(../img/banner/img_moneyPoint01.jpg) center/cover no-repeat;
        position: relative;
        height: 150px;
        box-sizing: border-box;
        margin-bottom: 10px;
        .badge {
            color: #fff;
            background: var(--pink);
            display: inline-block;
            padding: 0 5px;
            margin-bottom: 5px;
        }
        .tit {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 11px;
        }
        .subTit {
            color: #AB9A8B;
            font-size: 13px;
        }
        .point {
            position: absolute;
            right: 16px;
            top:45px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 5px solid #86BEFF;
            background: var(--newBlue);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



.aroundMap {
    z-index: 10;
    width: 60px;
    height: 60px;
    background: #000 url(../img/ic_aroundMap.svg) center;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    position: fixed;
    right: 20px;
    bottom: 40px;
}




.loginWrap {
    padding: 20px 16px;
    .tit {
        font-size: 23px;
        margin-bottom: 8px;
    }
    .subTit {
        font-size: 14px;
        color: #777;
        margin-bottom: 8px;
    }
    .price {
        font-size: 14px;
        color: var(--newBlue);
        margin-bottom: 20px;
    }
    .checkList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 12px;
        margin-left: -16px;
        margin-right: -16px;
        border-bottom: 1px solid #E7E7E7;
        li {
            position: relative;
            .arr {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 36px;
                height: 36px;
                background: url(../img/ic_linkArr.svg) center no-repeat;
            }
        }
    }

    .all {
        padding: 20px 12;
        margin-left: -16px;
        margin-right: -16px;
        border: 1px solid #E7E7E7;
        border-left: 0;
        border-right: 0;
        .label {
            font-size: 16px;
            font-weight: 400;
        }
        .desc {
            padding-left: 32px;
            color: #777;
            margin-top: 16px;
        }
    }
}

.frame_inputCheck {
    input {
        display: none;
    }
    .inputStyle {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
    .checkboxImg {
        width: 24px;
        height: 24px;
        margin: 0;
        // background: url(../img/checkbox_off.svg) center/cover no-repeat;
        background-color: #E6E6E6;
        margin-right: 8px;
        border-radius: 4px;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
    }
    .req {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: var(--newBlue);
        margin-top: -16px;
        margin-left: 2px;
        display: none;
    }

    input:checked + .inputStyle .checkboxImg {
        // background-image: url(../img/checkbox_on.svg);
        background: var(--newBlue) url(../img/checkbox_on.svg) center/cover no-repeat;
        border: 0;
    }
    input:required + .inputStyle {
        .req {
            display: block;
        }
    }
}

.mainBtn {
    display: flex;
    align-items: flex-end;
    height: $mainBtnHeight;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 17.71%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600;
    box-sizing: border-box;
    a {
        width: 100%;
        border-radius: 8px;
        height: 58px;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        background-color: #1f1f1f;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .arr {
            position: absolute;
            top: 50%;
            right: 11px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url(../img/arr_24_w.svg) center;
        }
    }
    .guideTxt {
        position: absolute;
        bottom: 85px;
        left: 0;
        right: 0;
        max-width: 600px;
        width: auto;
        text-align: center;
        color: var(--newGrey3);
        font-size: 15px;
    }
    &:has(.guideTxt) {
        height: 144px;
    }
}

.appIcon {
    position: fixed;
    right: 25px;
    bottom: 48px;
    width: 58px;
    height: 58px;
    background: url(../img/appIcon.svg) center;
    border-radius: 50%;
    overflow: hidden;
    &.imgItem {
        position: static;
        border-radius: 17px;
        width: 58px;
        height: 58px;
    }
}

.entryPopup {
    padding: 40px 15px;
    h1 {
        font-size: 24px;
        font-weight: 900;
        color: #1f1f1f;
        margin-top: 8px;
        margin-bottom: 30px;
        span {
            color: var(--newBlue);
        }
    }

    .featureItem {
        margin-bottom: 50px;
        .visual {
            img {
                width: 100%;
            }
            margin-bottom: 35px;
        }
        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        ul {

        }
        li {
            & + li {
                margin-top: 4px;
            }
            color: #777;
            font-size: 15px;
            &.dot::before {
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #777;
                vertical-align: super;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
        b {
            font-size: 16px;
            font-weight: bold;
            margin-top: 30px;
            display: block;
        }
    }
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .popup {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .tray {
            max-width: 420px;
            width: 80%;
            padding: 15px;
            padding-top: 30px;
            background-color: #fff;
            border-radius: 15px;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .closePop {
            position: absolute;
            bottom: 100%;
            right: 0;
            width: 40px;
            height: 40px;
            border: 0;
            background: transparent url(../img/ic_popClose.svg) center;
        }
        h1 {
            margin: 0;
        }
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        .badge {
            padding: 7px 16px;
            border-radius: 30px;
            background-color: var(--newGrey);
            font-size: 16ppx;
            display: inline-block;
            margin: 0 auto;
        }
        .desc {
            font-size: 16px;
            font-weight: bold;
        }
        .blueMesg {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #53A2FF;
            gap: 8px;
            .badge {
                background-color: #53A2FF;
                color: #fff;
            }
        }
        .popBtn {
            border-radius: 10px;
            background-color: #1f1f1f;
            color: #fff;
            font-weight: bold;
            padding: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            font-size: 16px;
            em {
                font-size: 13px;
                font-weight: 400;
            }
        }
    }
}



.serviceInfo {
    padding: 40px 30px;
    position: relative;

    h1 {
        font-size: 24px;
        font-weight: 900;
        margin-top: 23px;
        span {
            position: relative;
            z-index: 0;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                border-bottom: 11px solid #65ACFF;
                z-index: -1;
            }
        }
    }
    .introImg1 {
        position: absolute;
        top: 160px;
        right: -19px;
        width: 200px;
        opacity: 0.3;
    }
    .introImg2 {
        position: absolute;
        top: 422px;
        right: -33px;
        width: 120px;
    }
    .introImg3 {
        position: absolute;
        top: 566px;
        left: -11px;
        width: 147px;
    }
}

.tab {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    .tabItem {
        flex: 1 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        background-color: #fff;
        color: #999;
        font-size: 15px;
        font-weight: bold;
        &.ac {
            border-bottom-color: #000;
            color: #000;
        }
    }
}


.tabCon {
    .visual {
        text-align: center;
        padding-top: 42px;
        margin-bottom: 42px;
    }
    .averageValue {
        display: inline-flex;
        align-items: flex-end;
        margin-bottom: 10px;
        .label {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-right: 16px;
        }
        .value {
            font-size: 40px;
            font-weight: 600;
        }
    }
    .graph {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 30px 20px;
        height: 170px;
        box-sizing: border-box;
        .item {
            height: 100%;
            flex: 1 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            gap: 10px;
            white-space: nowrap;
            .bar {
                width: 40%;
                max-width: 60px;
                min-width: 20px;
                min-height: 6px;
                border-radius: 8px;
                background-color: var(--lightGrey2);
                position: relative;
            }
            .value {
                font-size: 14px;
                font-weight: bold;
                position: absolute;
                top: -30px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            .key {
                color: #777;
                position: absolute;
                bottom: -30px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &.point {
                .bar {
                    background-color: var(--newBlue);
                }
            }
        }
    }

    .analyze {
        padding: 0 15px;
        .item {
            margin-bottom: 34px;
            // & + .item {
            //     margin-top: 34px;
            // }
            .tit {
                padding: 0 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 13px;
                h3 {
                    font-size: 16px;
                }
                &.up {
                    .arrow {
                        width: 22px;
                        height: 22px;
                        background: url(../img/ic_analyzeUp.svg) center;
                    }
                }
                &.down {
                    .arrow {
                        width: 22px;
                        height: 22px;
                        background: url(../img/ic_analyzeDown.svg) center;
                    }
                }
            }

            .tray {
                background-color: #F5F5F5;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 20px 0;
                .left,
                .right {
                    flex: 1 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                }
                .divider {
                    flex: 0 0 1px;
                    width: 1px;
                    height: 37px;
                    background-color: #D9D9D9;
                }
                .key {
                    font-size: 12px;
                    font-weight: 500;
                    color: #777;
                }
                .value {
                    font-size: 24px;
                    font-weight: 600;
                    color: #000;
                }
            }
        }
    }
}

